#info{
	text-align: center;
	padding: 15px;
	color: #000;
	background: #f2f2f2;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-jugadores{
	margin: 20px;
}

.info-jugadores img{
	width: 180px;
	height: 180px;
	border: 7px solid transparent;
	border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
}
